<div class="fte-container">
    <div class="w-50 onsite-container ">
    <table class="table table-bordered">
    <thead class="table-dark text-white">
        <tr>
         <th>IsOnsite</th>
          <th scope="col">Utilization</th>
          <th scope="col">TotalFTE</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-warning" *ngFor="let utilization of (onSiteFTE | keyvalue);  let i = index">
           <td  *ngIf="i === 0" rowspan="3">Onsite</td>
                <td>{{utilization.key}}</td>
                <td>{{utilization.value}}</td>
        </tr>
        <tr  class="table-secondary" *ngFor="let utilization of (offShoreFTE | keyvalue); let i = index" >
            <td *ngIf="i === 0" rowspan="9" >OffShore</td>
            <td>{{utilization.key}}</td>
            <td>{{utilization.value}}</td>
        </tr>   
        </tbody>
 
   </table>
</div>
 
<div class="total-container ">
   <table class="table table-bordered">
    <tbody>
        <tr class="table-secondary"><th>Onsite</th>
        <td >{{onSiteCount}}</td></tr>
        <tr class="table-secondary"><th>OffShore</th>
            <td>{{offShoreCount}}</td></tr>
            <tr class="table-primary"><th>Total</th>
                <td>{{totalCount}}</td></tr>
    </tbody>
 
    <tbody></tbody>
   </table>
</div>
</div>