<div class="ggg"><div class="bg-primary w-50"><table class="table table-bordered">
    <thead>
        <tr>
          <th scope="col">IsOnsite</th>
          <th scope="col">Utilization</th>
          <th scope="col">TotalFTE</th>
          
          
        </tr>
      </thead>
      <tbody>
        <tr>
            <th rowspan="3">Onsite</th>
            <td>
                <tr>eee</tr>
            </td>
            <td>
                <tr>eee</tr>
            </td>
           </tr>
           <tr>
           
            <td>
                <tr>eee</tr>
            </td>
            <td>
                <tr>eee</tr>
            </td>
           </tr>
           <tr>
            
            <td>
                <tr>eee</tr>
            </td>
            <td>
                <tr>eee</tr>
            </td>
           </tr>
           <tr>
            <th rowspan="3">OffShore</th>
            <td>
                <tr>eee</tr>
            </td>
            <td>
                <tr>eee</tr>
            </td>
           </tr>
           <tr>
           
            <td>
                <tr>eee</tr>
            </td>
            <td>
                <tr>eee</tr>
            </td>
           </tr>
           <tr>
            
            <td>
                <tr>eee</tr>
            </td>
            <td>
                <tr>eee</tr>
            </td>
           </tr>
      </tbody>
  
   </table>
</div>

<div class="w-50 bg-primary">
   <table class="table table-bordered">
    <tbody>
        <tr><th>Onsite</th>
        <td>500</td></tr>
        <tr><th>OffShore</th>
            <td>500</td></tr>
            <tr><th>Total</th>
                <td>500</td></tr>
    </tbody>

    <tbody></tbody>
   </table>
</div>
</div>